body {
  background: #444 url("../img/blackorchid.png");
}
.game {
  bottom: 0;
  color: #fff;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 640px;
}
.game ul {
  padding: 10px;
  background: #000;
  border: 0;
  height: 75px;
  margin-top: 5px;
  list-style: none;
  width: 620px;
  overflow-y: scroll;
  font: 1.4em monospace;
}
.game ul li {
  list-style: none;
}
.game ul li.bad {
  color: #f00;
}
.game ul li.good {
  color: #00f;
}
.game .canvas-wrap {
  position: relative;
}
.game .canvas-wrap .win,
.game .canvas-wrap .lose {
  background: rgba(0,0,0,0.7);
  display: none;
  font-size: 2em;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.game .canvas-wrap .win .inner,
.game .canvas-wrap .lose .inner {
  margin: 150px 50px;
}
.game .canvas-wrap .win .inner p,
.game .canvas-wrap .lose .inner p {
  margin-bottom: 20px;
}
